<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <a href="https://www.facebook.com" class="fa fa-facebook-official w3-hover-opacity"></a>
    <a href="https://www.instagram.com" class="fa fa-instagram w3-hover-opacity"></a>
    <a href="https://snapchat.com" class="fa fa-snapchat w3-hover-opacity"></a>
    <a href="https://www.pinterest.com/" class="fa fa-pinterest-p w3-hover-opacity"></a>
    <a href="https://www.twitter.com/" class="fa fa-twitter w3-hover-opacity"></a>
    <a href="https://www.linkedin.com/" class="fa fa-linkedin w3-hover-opacity"></a>
 </div>
</footer>
